<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Tytuł filmu: ' + ${film.getTitle()}"></p>
<p th:text="'Reżyser: ' + ${film.getDirector()}"></p>
<p th:text="'Gatunek filmu: ' + ${film.getFilmGenre()}"></p>
<p th:text="'Rok produkcji: ' + ${film.getYearOfPremiere()}"></p>

<div th:each="seatToDelete : ${seatsToDelete}">
    <a th:text="${seatToDelete.getSeatId()}"/>
</div>

<form th:action="@{/deleteReservation}" method="post">
    <button type="submit">Anuluj rezerwację</button>
</form>
</body>
</html>