<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:text="${!authorizationData.isStatus() ? 'Nie znaleziono takiej rezerwacji!': ''}"></a>

<form th:action="@{/addAuthorization}" th:object="${authorizationData}" method="post">
    <p>Adres e-mail: <input type="text" th:field="*{email}" required></p>
    <p>Kod rezerwacji: <input type="text" th:field="*{token}" required></p>
    <p><input type="submit" value="Znajdź rezerwację"></p>
</form>

</body>
</html>