<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript">
        function preventBack() {window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload = function () {null};
    </script>

    <title>Title</title>
</head>
<body>
<p th:text="'Tytuł filmu: ' + ${film.getTitle()}"></p>
<p th:text="'Reżyser: ' + ${film.getDirector()}"></p>
<p th:text="'Gatunek filmu: ' + ${film.getFilmGenre()}"></p>
<p th:text="'Rok produkcji: ' + ${film.getYearOfPremiere()}"></p>
<br/>
<p th:text="'Data seansu: ' + ${reservedShowing.getDateOfShowing()}"></p>
<p th:text="'Godzina rozpoczęcia seansu: ' + ${reservedShowing.getTimeOfStart()}"></p>
<br/>
<p th:text="'Sala kinowa: ' + ${reservedShowing.getCinemahallid()}"></p>
<div th:each="reservedSeat : ${reservedSeats}">
    <a th:text="${'Miejsce: ' + reservedSeat.getNumber() + ' Rząd: ' + reservedSeat.getLine()}"/>
</div>

<form th:action="@{/deleteReservation}" method="post">
    <button type="submit">Anuluj rezerwację</button>
</form>

<form th:action="@{/goToStart}" method="post">
    <button type="submit">Wróć na stronę główną</button>
</form>
</body>
</html>