
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
</head>
<body onload="odliczanie()">


<div id="container">

    <div class = "rectangle">
        <a href = "/" style="text-decoration:none">  <div id="logo"> MULTIKOMPLEKS KINOWY </div></a>
        <div id="logoObraz"> <img src = "image/giphlogo.gif" alt="logo" style="max-width: 90px"/></div>
        <div id="zegar"> 12:00:00</div>
        <a href = "kontakt" style="text-decoration:none">  <div id="kontakt"> Kontakt </div></a>
        <div style="clear: both"></div>
    </div>


    <div class = "rectanglePusty">
        <div class = "tekst"> DZIĘKUJEMY ZA REZERWACJĘ MIEJSC </div>
        <div class="tile1">
            <div   class = "tekst4">

                <div class = "tileleft">
                    <p th:text="${'Rezerwacja na film: ' + selectedFilm.getTitle()}"></p>
                    <p th:text="${'Data: ' + selectedDate.getSelectedDate()}"></p>
                    <p th:text="${'Godzina: ' + chosenShow.getTimeOfStart().toString()}"></p>
                    <p th:text="${'Cena: ' + price + ' zł '}"></p>
                    <p th:text="${'Kod rezerwacji: ' + userReservation.getToken()}"></p>
                </div>


                <div class = "tileleft">
                    <p th:text="${'Sala ' + chosenShow.getCinemahallid()}"></p>
                    <div th:each="oneSeat : ${seatsSelectedByUser}">
                    <p th:text="${'Miejsce: ' + oneSeat.getNumber() + ' Rząd: ' + oneSeat.getLine()}"></p>
                </div>
                </div>


                <div class = "tileright">
                    <div> <img th:src="@{${selectedFilm.getImage()}}" style="height: 250px"/></div>
                </div>

                <div style="clear: both"></div>

                <form th:action="@{/goToStart}" method="post">
                    <button class="tile7">POWRÓT</button>
            </div>
    </div>
    </div>



    <div class = "rectanglePusty">
        <div id="giph"> <img src = "image/adv.gif" alt="logo" style="height:80px"/> </div>
        <div id="giph3" > Oto miejsce na Twoją reklamę!  </div>
        <div id="giph"> <img src = "image/adv.gif" alt="logo" style="height:80px"/> </div>
        <div style="clear: both"></div>
    </div>


    <div class = "rectangle">
        @Strona Rafal&Marcin 2020
    </div>

</div>


</body>
</html>
