<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
</head>
<body onload="odliczanie()">



<div id="container">

    <div class = "rectangle">
        <div id="logo"> MULTIKOMPLEKS KINOWY </div>
        <div id="zegar"> 12:00:00</div>
        <div id="help"> HELP</div>
        <div style="clear: both"></div>
    </div>


    <div class = "rectanglePusty">
        <div class = "tekst"> PULP FICTION</div>
        <div class="tile1">
            <img src = "image/shrek.jpg" alt="shrek" style="max-width: 200px" />
        </div>
    </div>

    <div class = "rectanglePusty">
        <a href = "FilmListFirst"><div class="tile2">
            POPRZEDNI FILM
        </div></a>
        <a href = "FirstScreen"><div class="tile2">
            STRONA GŁÓWNA
        </div></a>
            <a href = "FilmListFirst"><div class="tile2">
            NASTĘPNY FILM
        </div></a>
        <div style="clear: both"></div>
    </div>


    <div class = "rectangle">
        @Stron kinowa Rafal&Marcin 2020
    </div>

</div>


</body>
</html>