<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
</head>
<body onload="odliczanie()">



<div id="container">

    <div class = "rectangle">
        <div id="logo"> MULTIKOMPLEKS KINOWY </div>
        <div id="zegar"> 12:00:00</div>
        <div id="help"> HELP</div>
        <div style="clear: both"></div>
    </div>


    <div class = "rectanglePusty">

        <div class = "tekst2"> PULP FICTION </div>
        <div class = "tekst3"> WYBIERZ MIEJSCA </div>
        <div style="clear: both"></div>

        <div class="tile4">
            <img src = "image/PF.png" alt="PF" style="max-width: 200px" />
        </div>
        <div class="tile4">
           <div style="text-align: justify">
               </br>
            Opis filmu:
               </br>
               Przemoc i odkupienie w opowieści o dwóch płatnych mordercach pracujących na zlecenie mafii, żonie gangstera, bokserze i parze okradającej ludzi w restauracji.
               </br></br>
               Reżyser:
               </br>
               Quentin Tarantino
           </div>
        </div>

        <div class="tile4">
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div class="seat">
                A
            </div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div class = "rectanglePusty">
        <a href = "javascript:history.back();"><div class="tile2">
            COFNIJ
        </div></a>
        <a href = "FirstScreen"><div class="tile2">
            STRONA GŁÓWNA
        </div></a>
        <a href = "FilmSelectTickets"><div class="tile2">
            PRZEJDŹ DALEJ
        </div></a>
        <div style="clear: both"></div>
    </div>


    <div class = "rectangle">
        @Stron kinowa Rafal&Marcin 2020
    </div>

</div>


</body>
</html>