<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: lightgrey">
    <h1 align="center"> Strona Film List First</h1>
    <br/>
    <h1 align="center"> ... </h1>

    <div style="width:100%;text-align:center;">
        <img src="src\main\resources\templates\fot\PF.png" />
    </div>

    <div style="width:100%;text-align:right;">
        <a href="/FilmList">Nacisnij aby przejsc do kolejnego filmu -> </a>
    </div>

    <br/> <br/>

    <div style="width:100%;text-align:center;">
        <a href="/FirstScreen">Nacisnij aby przejsc ekranu poczatkowego</a>
    </div>
</body>
</html>