<!-- Autor: Rafał Rybarczyk -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" http-equiv="Cache-control" content="no-cache">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
</head>
<body onload="odliczanie()">



<div id="container">

    <div class = "rectangle">
        <a href = "/" style="text-decoration:none">  <div id="logo"> MULTIKOMPLEKS KINOWY </div></a>
        <div id="logoObraz"> <img src = "image/giphlogo.gif" alt="logo" style="max-width: 90px"/></div>
        <div id="zegar"> 12:00:00</div>
        <a href = "kontakt" style="text-decoration:none">  <div id="kontakt"> Kontakt </div></a>
        <div style="clear: both"></div>
    </div>



    <div class = "rectanglePusty">
        <div class = "tekst"> KONTAKT  Z KINEM </div>
        <div class="tile1">

            <div class = "tekst4"> MultikopmleksKinowy Sp. z o.o. </div>
            <div class = "tekst4"> Numer telefonu: 777 777 777 </div>
            <div class = "tekst4"> Adres: ul.Kinowa 999 </div>
            <div class = "tekst4"> Warszawa 18-001 </div>
            <div class = "tekst4"> Mail: kino@kino.pl </div>
            <div class = "tekst4"> Założyciele: </div>
            <div class = "tekst4"> Pietroń Macin </div>
            <div class = "tekst4"> Rybarczyk Rafał </div>


        </div>
        </div>


    <div class = "rectanglePusty">
        <div class="giph"> <img src = "image/adv.gif" alt="logo" style="height:80px"/> </div>
        <div id="giph3" > Oto miejsce na Twoją reklamę!  </div>
        <div class="giph"> <img src = "image/adv.gif" alt="logo" style="height:80px"/> </div>
        <div style="clear: both"></div>
    </div>

    <div class = "rectangle">
        @Strona Rafal&Marcin 2020
    </div>

</div>


</body>
</html>
