<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/setReduction}" method="post">
    <table>
        <tr>
            <td><button th:text="${normalSeats.getCounter()}"/></td>
            <td><button type="submit" name="discount" th:value="${1}">+</button></td>
        </tr>
        <tr>
            <td><button th:text="${reducedSeats.getCounter()}"/></td>
            <td><button type="submit" name="discount" th:value="${2}">+</button></td>
        </tr>
    </table>
</form>

<form th:action="@{/reserveSeats}" method="post">
    <button type="submit" name="action">Zarezerwuj</button>
    &nbsp
</form>

</body>
</html>