
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Cache-control" content="no-cache">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
</head>
<body onload="odliczanie()">



<div id="container">

    <div class = "rectangle">
        <a href = "/" style="text-decoration:none">  <div id="logo"> MULTIKOMPLEKS KINOWY <a/></div>
        <div id="logoObraz"> <img src = "image/giphlogo.gif" alt="logo" style="max-width: 90px"/></div>
        <div id="zegar"> 12:00:00</div>
        <div id="kontakt"> Kontakt </div>
        <div style="clear: both"></div>
    </div>



    <div class = "rectanglePusty">
        <div class = "tekst"> AKTUALNY REPERTUAR </div>
        <div class="tile1">

            <div class = "tileObraz">
                <div> <img src = "image/asterix.jpg" alt="asterix" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/big.jpg" alt="big" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/harry.jpg" alt="harry" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/PF.png" alt="PF" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/psy.jpg" alt="psy" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/shrek.jpg" alt="shrek" style="height: 200px"/></div>
            </div>

            <div style="clear: both"></div>

            <div class = "tileObraz">
                <div> <img src = "image/swir.jpg" alt="swir" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/terminator.jpg" alt="terminator" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/wladca.jpg" alt="wladca" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/wojna.jpg" alt="wojna" style="height: 200px"/></div>
            </div>

            <div class = "tileObraz">
                <div> <img src = "image/zaplatani.jpg" alt="zaplatani" style="height: 200px"/></div>
            </div>

            <div style="clear: both"></div>




        </div>
        </div>



    <div class = "rectangle">
        @Strona Rafal&Marcin 2020
    </div>

</div>


</body>
</html>
