<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:text="${reservedShow.getCinemahallid()}"/>
<form th:action="@{/addSeat}" method="post">
    <table>
        <tr th:each="seat: ${seats}">
            <td th:each="oneSeat:${seat}">
                <button type="submit" name="chosenSeat" th:value="${oneSeat.getId()}" th:text="${oneSeat.getNumber()}"/>
            </td>
        </tr>
    </table>
</form>

<div th:each="resSeat: ${reservedSeats}">
    <a th:text="${resSeat.getSeatId()}"/>
</div>

<form th:action="@{/removeSeats}" method="post">
    <button type="submit" name="remove">Usuń miejsca</button>
    &nbsp
</form>
<form th:action="@{/goToReduction}" th:object="${reservedSeats}" method="post">
    <button type="submit" name="action">Zarezerwuj</button>
    &nbsp
</form>

</body>
</html>