<!-- Autor: Rafał Rybarczyk -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Cache-control" content="no-cache">
    <title>Title</title>

    <link rel="stylesheet" href="css/styleView.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet"/>
    <script src="css/timer.js"></script>
    <script type="text/javascript">
        function preventBack() {window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload = function () {null};
    </script>
</head>
<body onload="odliczanie()">



<div id="container">

    <div class = "rectangle">
        <a href = "/" style="text-decoration:none">  <div id="logo"> MULTIKOMPLEKS KINOWY </div></a>
        <div id="logoObraz"> <img src = "image/giphlogo.gif" alt="logo" style="max-width: 90px"/></div>
        <div id="zegar"> 12:00:00</div>
        <a href = "kontakt" style="text-decoration:none">  <div id="kontakt"> Kontakt </div></a>
        <div style="clear: both"></div>
    </div>



    <div class = "rectanglePusty">
        <div class = "tekst"> WITAJ W MULTIKOMPLEKSIE KINOWYM</div>
        <div class="tile1">
        <form th:action="@{/goToFilms}" method="post">
            <button class="tile3">Zarezerwuj miejsca</button>
        </form>
        <form th:action="@{/goToCancel}" method="post">
            <button class="tile3">Sprawdź swoją rezerwację</button>
        </form>

            <div style="clear: both"></div>


            <form th:action="@{/goToRepertuar}" method="post">
                <button class="tile3">Sprawdź repertuar</button>
            </form>
            <form th:action="@{/goToPromocje}" method="post">
                <button class="tile3">Promocje</button>
            </form>

            <div id="giph2"> <img src = "image/giph.gif" alt="logo" style="width: 350px"/></div>

        </div>
        </div>



    <div class = "rectangle">
        @Strona Rafal&Marcin 2020
    </div>

</div>


</body>
</html>
