<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Cache-control" content="no-cache">

    <script type="text/javascript"> 
        function preventBack() {window.history.forward();} 
        setTimeout("preventBack()", 0); 
        window.onunload = function () {null};
    </script>

    <title>Title</title>
</head>
<body>

<form th:action="@{/goToFilms}" method="post">
    <button>Zarezerwuj miejsca</button>
</form>

<form th:action="@{/goToCancel}" method="post">
    <button>Znajdź swoją rezerwację</button>
</form>

</body>
</html>