<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <script src="../static/css/timer.js"></script>
</head>
<body onload="odliczanie()">

<div id="container">

    <div class = "rectangle">
        <div id="logo"> MULTIKOMPLEKS KINOWY </div>
        <div id="zegar"> 12:00:00</div>
        <div style="clear: both"></div>
    </div>

    <div class = "square">
        <div class="tile1">1</div>
        <div class="tile1">1</div>
        <div style="clear: both"></div>
        <div class="tile2">2</div>
        <div class="tile3">3</div>
        <div style="clear: both"></div>

        <a href = "test.html" class="tilelink"><div class="tile4">
             <i class= "icon icon-home"><br/></i>Stron glowna
        </div></a>

    </div>
    <div class = "square"></div>
    <div style="clear:both"></div>

    <div class = "rectangle">
        Miejsce na teskt w stopce
    </div>

</div>
</body>
</html>